body {
    background-color: darkgray;
}

.container {
    background-color: #eee;
    padding: 1.5%;
}

.firstRow {
    background-color: #eee;
}

.secondRow {
    background-color: darkgray;
}

footer{
    background-color: #eee;
    text-align: center;
    margin: 0.5%;
    padding: 0.5%;
    width: 99%;
    color: rgb(145, 145, 145);
    font-size: 12px;
}